@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
body {
    font-family: 'Open sans';
    background-image: url("img/BackGround.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
h1{
    font-size: 30px;
    color:white;
    margin-bottom: 15px;
}
p{
  line-height: 1.8;  
}
.main{
    
    font-size: 40px;
    text-align:left;
    color: black;
    padding-left: 50px;
    padding-top: 30px;
}
.main-text{
    margin: 0;
    margin-bottom: 60px;
    line-height: 1.8;
}

.descr{
    font-size: 20px;
    color:black;
    margin-bottom: 30px;
}
.Formtext{
    display: block;
    width: 500px;
}
.Showbutton{
    border: none;
    width: 280px;
    height: 70px;
    color:white;
    font-size:20px;
    font-weight: bolder;
    background-color: #1758e6;
    
}

.social a {
    position: absolute;
    left: 50px;
    padding: 7px;
    color: #000;
}
.vk a:hover {
    
    background: #5d84ae;
    border-radius: 50%;
    color: #fff;
}
.fa{
    font-size: 30px;
    text-decoration: none;
}

ul.footer{
    position: absolute;
    width: 93%;
    bottom: 50px;
    column-count: 2;
    list-style-type:none;
}
.openModal{
    position: absolute;
    right: 0px;
    font-size: 15px;
}


.animMail{
    padding: 50px;
   display: none;
}
.animMain{
    display: block;
}

.fa-enter{
    visibility:hidden; 
}

.fa-enter-active{
    animation: Enter 0.4s linear;
}

@keyframes Enter{
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

.close {
display: none;
position: absolute;
right: 50px;
top: 50px;
width: 32px;
height: 32px;
opacity: 0.8;
background-color: #1758e6;
border-radius: 50%; 
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
top:5px;
left: 15px;
content: ' ';
height: 20px;
width: 1.5px;
background-color: white;   
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}

.modalDialog {
	position: fixed;
    overflow: auto;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}


.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 750px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	background: #eee;
	
}

.cls {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.cls:hover { background: #1758e6; }

.confident-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 40px;
}
.confident-subtitle{
    font-size: 18px;
    text-align: left;
    padding: 0 0 20px;
    color:#777;
    
}
.confident-p-title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    
}
.confident-p{
  line-height: 1.5;
  text-align: left;
  font-size: 17px;
  padding-bottom: 5px;
  margin: 0;
}





